/* Add here all your css styles (customizations) */

#sky-form4 {
	position: absolute;
	min-width: 500px;
	top: -300px;
	left: 40%;
	border: 3px solid #eee;
}

@media (max-width: 1200px) {
	#sky-form4 {
		left: 10%;
		min-width: 20%;
		margin-right: 10%;
	}
}

@media (min-width: 768px){
.col-sm-offset-3  {
  margin-left: 10%;
}
}

@media (min-width: 768px){
.col-sm-offset-2 {
   margin-left: 0%; 
}
}